<!DOCTYPE html>
<html>
    <head>
        <title>DB Test</title>
    </head>
    <body>
        <form action="{% url 'dbApp:index' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="comment" placeholder="Comment">
            <input type="submit">
        </form>
        {% if comments %}
            {% for name,comment in comments.items %}
                <div style="border: 2px solid black;">
                    <h3>{{name}}</h3>
                    <h4>&emsp;{{comment}}</h4>
                </div>
            {% empty%}
                <h2>No comments found</h2>
            {% endfor %}
        {% endif %}
    </body>
</html>