<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load crispy_forms_tags %}
        {% load crispy_forms_filters %}
    </head>
    <body>
        <h1 class="m-5">Create an account</h1>
        <form method="post" class="form-group m-5">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Already have an account? Login <a href="/user/login">here</a></p>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
    </body>
</html>